@use 'styles/variables' as *;

.section {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 620px;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: $radius;
  background-color: $brand-card-bg;
  padding: 3rem 2rem;
  text-align: center;
}

.heading {
  font-family: $font-sans;
  font-size: 20px;
  font-weight: 500;
  color: $brand-gray-light;
  margin: 0;
}

.text {
  font-family: $font-sans;
  font-size: 16px;
  line-height: 1.5rem;
  color: $brand-gray-medium;
  margin: 0;
}

.retryButton {
  height: 56px;
  width: 240px;
}
