@use 'styles/variables' as *;
@use 'styles/layout' as layout;

.shell {
  @include layout.page-shell;
}

.wrapper {
  @include layout.marketplace-container;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main {
  flex: 1;
  @include layout.marketplace-horizontal-padding;
  padding-top: 130px;
}

.loadMore {
  margin-top: 130px;
}

.footer {
  margin-top: 100px;
}
