@use 'styles/variables' as *;

.section {
  margin-left: auto;
  margin-right: auto;
  height: 107px;
  width: 403px;
}

.button {
  height: 107px;
  width: 403px;
}

.buttonLoading:disabled {
  opacity: 1;
  cursor: wait;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border-top-color: $brand-orange;
}
